.hoverforExp {
    outline: #9797975d solid 0px;
    transition: .5s;
}

.hoverforExp:hover {
    outline: #9797975d solid 70px;
    
}

@media only screen and (min-width: 10px) and (max-width: 700px) {
	.hoverforExp:hover {
        outline: #9797975d solid 50px;
        
    }
}